.education {
  background-image:linear-gradient(to bottom,#71c9ce,#a6e3e9,#cbf1f5);
  font-family: "Montserrat", sans-serif;
}
.education h1 {
  text-align: center;
  font-weight: bold;
  color: #e3fdfd;
}

.education h1:before {
  content: "『 ";
}

.education h1:after {
  content: " 』";
}

.education h3,
h5 {
  color: #000;
  font-weight: bold;
}

.education h6 {
  text-align: center;
  padding-bottom: 2%;
  color: #008289;
  font-weight:100;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

.education-date {
  color: #000;
  font-weight: bold !important;
}
